<section class="social-login" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <a class="btn btn-block social-btn google" href="{{ GOOGLE_AUTH_URL }}" style="text-align:center">
    <img src="assets/img/google-logo.png" alt="Google" /> Log in with Google
  </a>

  <a class="btn btn-block social-btn facebook" href="{{FACEBOOK_AUTH_URL}}" style="text-align:center">
    <img src="assets/img/fb-logo.png" alt="Facebook" /> Log in with Facebook
  </a>

  <a class="btn btn-block social-btn github" href="{{GITHUB_AUTH_URL}}" style="text-align:center">
    <img src="assets/img/github-logo.png" alt="Github" /> Log in with Github
  </a>


</section>